body {
	margin: 0;
	padding:0;
}
div {
	float: left;
	z-index: 1;
}
#nav {
	height:100vh;
	width:4%;
	background-color: #009682;
}
.div {
	height: 100vh;
	width:19.2%;
	position: relative;
}
#a {
	background-color: #00d6ba;
}
#b {
	background-color: #1bfadd;
}
#c {
	background-color: #3bffe5;
}
#d {
	background-color: #59ffe9;
}
#e {
	background-color: #6bffeb;
}
ul{
	padding: 0;
}
li{
	max-height: auto;
	line-height: 400%;	
	padding-top: 0;
	padding-left: 20px;
	padding-bottom: 0;
	
}
a {
	text-decoration: none;
	color: black;
	margin: 0;
}
a:hover {
	color: white;	
}
#navbar {
	max-height: 100vh;
	padding-top: 300%;
}

.swap:hover span {
    display:none;
}
#home:hover:before {
    color:white;
    font-size:15px;
    float: left;
    content:"HOME";
    transform: translateX(-35%);
}
#rhymes:hover:before {
    color:white;
    font-size:13px;
    float: left;
    content:"RHYMES";
    transform: translateX(-35%);
}
#games:hover:before {
    color:white;
    font-size:15px;
    float: left;
    content:"GAMES";
    transform: translateX(-35%);
}
#login:hover:before {
    color:white;
    font-size:13px;
    float: left;
    content:"LOGIN";
    transform: translateX(-35%);
}
#about:hover:before {
    color:white;
    font-size:15px;
    float: left;
    content:"ABOUT";
    transform: translateX(-35%);
}
.kid { 
	height: 40%;
	padding-top: 170%;
	border-bottom: 1px solid black;
}

span {
	height:490px;
	padding-top: 75%; 
  	position: absolute;
  	animation-duration: 1s;
  	animation-fill-mode: both;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
}
span:hover {
	animation-name: bounce;

}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		transform: translateY(0)
	}
	40% {
		transform: translateY(-80px)
	}
	60% {
		transform: translateY(-15px)
	}
}
#title {
	z-index: 10000;
	background-color: transparent;
	float: left;
	margin-top: 0;
	position:absolute;
	font-size: 50px;
	font-style: bold;
	width: 100%;
	padding: 0 auto;
	font-family: 'Vibes', cursive;
	display: block;
	text-align: center;
}
p {
	font-size: 15px;
	font-style: bold;
	letter-spacing: 2px;
	margin-top: 0;
}
